<h5>Recent Payments</h5>
<table>
	<thead>
		<tr>
			<th>Preparer</th>
			<th>Job</th>
			<th>Amount</th>
			<th>Date</th>
		</tr>
	</thead>
	<tbody>
		<% @client.jobs.each do |job| %>
			<% if job.payments %>
		<tr>
			<th><%= job.preparer.first_name %></th>
			<th><%= job.id %></th>
        <% job.payments.each do |payment| %>
			<th><%= number_to_currency(payment.amount) %></th>
			<th><%= payment.created_at.strftime('%v') %></th>
        <% end %>
		</tr>
			<% end %>
		<% end %>
	</tbody>
</table>
