body {
  background-color: #FFF;
  color: #323537;
  font-family: "Varela Round";
  font-size: 13px;
  line-height: 1.8em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 400;
  font-style: normal;
}

.home-container {
  padding: 20px;
  margin: 20px;
  border: 1px solid #ddd;
  border-radius: 2px;
}

hr { 
  background: #999;
  opacity: 0.4;
}
