.intro {
  text-align: center;
  padding: 10px;

  .text {
    display: inline-block;
    font-size: 14px;
    max-width: 750px;
    padding: 25px;
  }

  .background {
    background: url(asset_path('sauvies.jpeg'));
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    max-width: 800px;
    background-position: center;
    background-size: cover;
    opacity: 0.75;

    .text {
      font-size: 16px;
      line-height: 2rem;
      color: #0d0d0d;
    }
  }
}
