.services {

  .heading {
    background: white;
    padding: 50px 50px 10px 200px;
    letter-spacing: 2px;
  }
  
  .item {
    padding-left: 250px;
    letter-spacing: 0;
  }

  .sub-item {
    padding-left: 300px;
    letter-spacing: 0;
  }
 
}
