.services, .returning-clients {

  .heading {
    background: white;
    padding: 50px 50px 10px 150px;
    letter-spacing: 2px;
  }
  
  .item {
    padding-left: 150px;
    letter-spacing: 0;
  }

  .sub-item {
    padding-left: 200px;
    letter-spacing: 0;
  }
 
}
